@import '~fusion-theme/dist/fusion-variables.scss';

.action-bar {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &__button {
    border: none;

    &-icon {
      padding-right: 5px;
    }
  }

  &__action-tabs {
    float: left;

    & .nav-tabs {
      border: none;
    }
  }

  &__panel {
    margin-bottom: 0;
    border: none;
    //border-radius: 0 0 3px 3px;
  }

  &__btn-toolbar {
    margin: 0;
    border-bottom: 1px solid #ddd;
  }

  &__dropdown-button {
    border: none;
    border-radius: 0;
    padding: 11px 15px 10px;
  }

  &__dropdown .dropdown-menu {
    left: auto;
    right: 0;
  }

  &__dropdown-overflow-selection {
    color: white;
    background-color: $brand-primary;
  }
}
