$tasks : '.tasks'; // namespace for component

#{$tasks} {
  &__header {
    &-title {
      float: left;
    }

    &-button {
      float: right;
    }
  }

  &__taskList-container--notasks {
    padding: $panel-body-padding;
    text-align: center;
    border: 1px dashed $text-muted;
    border-radius: $border-radius-base;
  }
}
