@mixin flexChild($margin) {
  flex: 1;
  margin: 0 $margin;
}

.FinanceDriverShort .Name {
  display: flex;
}

.FinanceDriverShort .Name > * {
  @include flexChild(5px);
}

.FinanceDriverShort .Email {
  display: flex;
}

.FinanceDriverShort .Email > * {
  @include flexChild(5px);
}

.FinanceDriverShort .Submit {
  text-align: $text-align;
  padding: 15px;
  margin: auto;
  color: white;
  font: {
    weight: bold;
    size: 1.5em;
  }
  cursor: pointer;
}
